.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.gameboard{
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  border: solid 2px black;
}
.square {
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  border: solid 2px black;
  box-sizing: border-box;
 
}
.cross {
  color: red;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  color: blue;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}